@use "~bulma/sass/utilities/derived-variables";

.is-page-title {
  border-bottom: 5px solid $grey-darker;
}

.content-section-override {
  padding-top: 0;
  padding-bottom: 0;
}

.scroll-container {
  max-height: calc(100% - 200px)
}
