//BULMA IMPORTS
@import "base/bulma";
//COMPONENT IMPORTS
@import "components/loading-message";
@import "components/card";

.title-bar {
  padding: 30px 50px
}

.filter-container {
  padding: 0px 50px;
  display: flex;
  gap: 20px;
}


.workout-card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 50px;
}


