//BULMA IMPORTS
@import "base/bulma";

//COMPONENT IMPORTS
@import "components/loading-message";
@import "components/card";
@import "components/loading-image";
@import "components/multi-select";
@import "components/layout";

.filter-container {
  display: flex;
  gap: 20px;
}


.workout-card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}


